name: Dart CI

on:
  push:
    branches:
      - 'master'
      - 'test_consume_*'
  pull_request:
    branches:
      - '**'

permissions:
  contents: write
  id-token: write
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        sdk: [ 3.10.9 ]
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}
      - name: Install dependencies
        run: dart pub get
      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .
        if: ${{ matrix.sdk == '3.10.9' }}
      - name: Analyze project source
        run: dart analyze
      - name: Run tests in dev mode
        run: dart test -p chrome
      - name: Run tests in release mode
        run: dart test -c dart2js -p chrome
      - name: Publish SBOM
        if: ${{ matrix.sdk == '3.10.9' }}
        uses: anchore/sbom-action@v0
        with:
          path: ./
          format: cyclonedx-json